* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Helvetica Neue', Arial, sans-serif;
    color: #333;
}


#main {
    margin: 30px 8px;
    background-color: #eee;
}


h1 {
    text-align: center;
    margin-top: 5%;
}

legend {
    text-align: center;
    margin-top: 2%;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background: white;
    padding: 10%;
    margin: 0;

}


#img-caption {
    margin: 15px 0 5px 0;
}

#heading {
    text-align: center;
    margin: 50px 0;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

blockquote {
    font-style: italic;
    max-width: 540px;
    margin: 0 auto 50px auto;
    text-align: left;
  }

h3{
    text-align: center;
  }
  