@import url(https://fonts.googleapis.com/css?family=Roboto);
/*Just the background stuff*/
span.s1 {
	position: absolute;
	top: 0;
	font-size: 15rem;
	font-weight: 800;
	text-transform: uppercase;
	color: #3c4447;
}

span.s2 {
	font-weight: 800;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 15rem;
	text-transform: uppercase;
	color: #3c4447;
}

/*My hum... body.. yeah..*/
body {
	background-color: #353b3f;
	font-family: "Roboto", sans-serif;
	height: 70vh;
}

/* The card */
.card {
	position: relative;
	height: 450px;
	width: 900px;
	margin: 200px auto;
	border-radius: 15px;
	background-color: #fff;
	-webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.thumbnail {
	float: left;
	position: relative;
	border-radius: 20px;
	left: 30px;
	top: -30px;
	height: 300px;
	width: 530px;
	-webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
	overflow: hidden;
}

/*object-fit: cover;*/
/*object-position: center;*/
img.left {
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
	margin-left: 590px;
	margin-right: 20px;
}

h1 {
	padding-top: 15px;
	font-size: 1.3rem;
	color: #4b4b4b;
}

.author {
	background-color: #9ecaff;
	height: 30px;
	width: 130px;
	border-radius: 20px;
}

.author > img {
	padding-top: 5px;
	margin-left: 10px;
	float: left;
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

h2 {
	padding-top: 8px;
	margin-right: 6px;
	text-align: right;
	font-size: 0.8rem;
}

.separator {
	margin-top: 10px;
	border: 1px solid #c3c3c3;
}

p {
	text-align: justify;
	padding-top: 10px;
	font-size: 0.95rem;
	line-height: 150%;
	color: #4b4b4b;
}

/* DATE of release*/
h5 {
	position: absolute;
	left: 30px;
	bottom: -120px;
	font-size: 6rem;
	color: #c3c3c3;
}

h6 {
	position: absolute;
	left: 30px;
	bottom: -55px;
	font-size: 2rem;
	color: #c3c3c3;
}

/* Those futur buttons */
ul {
	margin-left: 250px;
}

li {
	display: inline;
	list-style: none;
	padding-right: 40px;
	color: #7b7b7b;
}

/* Floating action button */
.fab {
	position: absolute;
	right: 50px;
	bottom: -40px;
	box-sizing: border-box;
	padding-top: 18px;
	background-color: #1875d0;
	width: 80px;
	height: 80px;
	color: white;
	text-align: center;
	border-radius: 50%;
	-webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}
