* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
}

/* container size */
.frame {
  position: relative;
  width: 500px;
  height: 400px;
  filter: url(#gooey);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* span group */
.group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.group:nth-child(2) .span-l {
  animation-delay: .8s;
}

.group:nth-child(3) .span-l {
  animation-delay: 1s;
}

.group:nth-child(2) .span-r {
  animation-delay: .8s;
}

.group:nth-child(3) .span-r {
  animation-delay: 1s;
}

/* style for each span */
.frame span {
  display: block;
  animation: animate 1.5s ease-in-out infinite alternate;
  width: 80px;
  height: 80px;
  background: #ddd;
  border-radius: 50%;
  box-shadow: inset -15px -15px 20px #000000ef, inset 15px 15px 2px #fff;
}

.frame .span-l {
  animation: animate2 1.5s ease-in-out infinite alternate;
}


@keyframes animate {
  to {
    transform: translateX(-195%);
  }
}

@keyframes animate2 {
  to {
    transform: translateX(195%);
  }
}

svg {
  width: 0;
  height: 0;
}
